@model List<BusinessIndustryModel>

@{
    ViewBag.Title = "Danh mục ngành kinh doanh";
    Layout = "_Layout";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
            <a asp-controller="Categories" asp-action="Add" class="d-none d-sm-inline-block">
                <i class="fas fa-download fa-sm text-white-50 pr-1"></i>
                &plus; Thêm
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                <tr class="text-primary">
                    <th>#</th>
                    <th>Mã</th>
                    <th>Cấp</th>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>#</th>
                    <th>Mã</th>
                    <th>Cấp</th>
                    <th>Tên</th>
                    <th>Ghi chú</th>
                </tr>
                </tfoot>
                <tbody id="laborTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Code</td>
                        <td>@item.Level</td>
                        <td>@item.Name</td>
                        <td class="w-25">@item.Note</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
