@model cungLaoDong.Models.ViewModels.Employee.ShowEmployeeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!-- Page Heading -->
<div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Thông tin chi tiết</h1>
    <a asp-controller="Employees" asp-action="Add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-pen fa-sm text-white-50 me-1"></i>
        Chỉnh sửa
    </a>
</div>

<!-- Thông tin người lao động -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Thông tin cá nhân</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                <span class="fw-bold">Họ và tên:</span>
                <span class="text-primary" id="ho_ten">@Model.EmployeeInfo?.FullName</span>
            </div>
            <div class="col-md-6 mb-3">
                <span class="fw-bold">Ngày sinh:</span>
                <span class="text-primary" id="ngay_sinh">@Model.EmployeeInfo?.Birthday</span>
            </div>
            <div class="col-md-6 mb-3">
                <span class="fw-bold">Giới tính:</span>
                <span class="text-primary" id="gioi_tinh">@Model.EmployeeInfo?.Gender</span>
            </div>
            <div class="col-md-6 mb-3">
                <span class="fw-bold">Số CCCD:</span>
                <span class="text-primary" id="cccd">@Model.EmployeeInfo?.Identity</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Địa chỉ thường trú:</span>
                <span class="text-primary" id="thuong_tru_tinh">@Model.EmployeeInfo?.PermanentAddress</span>
            </div>
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Địa chỉ hiện tại:</span>
                <span class="text-primary"
                      id="tam_tru_tinh">@Model.EmployeeInfo?.TemporaryResidenceAddress</span>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Đối tượng ưu tiên</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Người khuyết tật:</span>
                <span class="text-primary"
                      id="khuyt_tat">@(Model.Priority?.Kind?.Contains(1) == true ? "Có" : "Không")</span>
            </div>
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Hộ nghèo, cận nghèo:</span>
                <span class="text-primary"
                      id="ho_ngheo">@(Model.Priority?.Kind?.Contains(2) == true ? "Có" : "Không")</span>
            </div>
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Dân tộc thiểu số:</span>
                <span class="text-primary"
                      id="dan_toc">@(Model.Priority?.Kind?.Contains(3) == true ? "Có" : "Không")</span>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Trình độ giáo dục</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Trình độ phổ thông:</span>
                <span class="text-primary"
                      id="trinh_do_pho_thong">@(Model.GeneralEducationLevels?.EducationLevel?.Name)</span>
            </div>
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Trình độ chuyên môn:</span>
                <span class="text-primary"
                      id="trinh_do_chuyen_mon">@(Model.GeneralEducationLevels?.ProfessionalQualification?.Name)</span>
            </div>
            <div class="col-md-4 mb-3">
                <span class="fw-bold">Chuyên ngành đào tạo:</span>
                <span class="text-primary" id="chuyen_nganh">@(Model.GeneralEducationLevels?.Major?.Name)</span>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Tình trạng tham gia hoạt động kinh tế</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                <span class="fw-bold">Tình trạng:</span>
                <span class="text-primary"
                      id="tinh_trang_viec_lam">@(Model.EmployeeInfo?.EconomyStatus?.Name)</span>
            </div>
        </div>
        @switch (Model.EmployeeInfo?.EconomyStatus?.Id)
        {
            case 1:
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Vị thế việc làm:</span>
                        <span class="text-primary" id="vi_tri_viec_lam">@(Model.HasJob?.JobPosition?.Name)</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Công việc cụ thể:</span>
                        <span class="text-primary" id="cong_viec">@(Model.HasJob?.Job?.Name)</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Nơi làm việc:</span>
                        <span class="text-primary" id="noi_lam_viec">Công ty XYZ</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Tỉnh/TP làm việc:</span>
                        <span class="text-primary" id="lam_viec_tinh">@(Model.HasJob?.Province)</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Phường/Xã:</span>
                        <span class="text-primary" id="lam_viec_phuongxa">@(Model.HasJob?.Weird)</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Địa chỉ chi tiết:</span>
                        <span class="text-primary" id="lam_viec_diachichitiet">@(Model.HasJob?.Address)</span>
                    </div>
                </div>
                break;
            case 2:
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Thời gian thất nghiệp:</span>
                        <span class="text-primary" id="vi_tri_viec_lam">@(Model.Unemployed?.Time?.Name)</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Nhu cầu việc làm:</span>
                        <span class="text-primary" id="cong_viec">@(Model.Unemployed?.Demand)</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Đã từng làm việc:</span>
                        <span class="text-primary" id="noi_lam_viec">@(Model.Unemployed?.Status)</span>
                    </div>
                </div>
                break;
            case 3:
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <span class="fw-bold">Lý do không tham gia:</span>
                        <span class="text-primary" id="vi_tri_viec_lam">@(Model.UnemployedReason?.Name)</span>
                    </div>
                </div>

                @if (Model.UnemployedReason?.Id == 1)
                {
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <span class="fw-bold">Trình độ đào tạo:</span>
                            <span class="text-primary" id="vi_tri_viec_lam">@(Model.Studying?.EducationLevel?.Name)</span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <span class="fw-bold">Chuyên ngành đào tạo:</span>
                            <span class="text-primary" id="cong_viec">@(Model.Studying?.Major?.Name)</span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <span class="fw-bold">Thời gian dự kiến tốt nghiệp:</span>
                            <span class="text-primary" id="noi_lam_viec">@(Model.Studying?.GraduateTime)</span>
                        </div>
                    </div>
                }
                break;
            default:
                <div>Chưa có thông tin</div>
                break;
        }
    </div>
</div>

