@model cungLaoDong.Areas.Employees.ViewModels.EmployeeFormViewModel

@{
    ViewBag.Title = "Thêm mới người lao động";
    Layout = "_Layout";
}

<form asp-action="Add" method="post">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="m-0 fw-bold text-primary">Vui lòng điền đầy đủ thông tin bên dưới</h6>
                <a asp-area="" asp-controller="Home" asp-action="Index"
                   class="d-none d-sm-inline-block text-white text-decoration-none">
                    <i class="fas fa-download fa-sm me-1"></i>Hủy
                </a>
            </div>
        </div>
        <div class="card-body">
            <section class="form-section">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">Thông tin cá nhân</h5>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-3">
                        <label asp-for="EmployeeForm.FullName" class="form-label fw-bold">
                            Họ và tên <span class="text-danger">*</span>
                        </label>
                        <input asp-for="EmployeeForm.FullName" class="form-control" required>
                        <span asp-validation-for="EmployeeForm.FullName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-3">
                        <label asp-for="EmployeeForm.Birthday" class="form-label fw-bold">
                            Ngày sinh <span class="text-danger">*</span>
                        </label>
                        <input asp-for="EmployeeForm.Birthday" type="date" class="form-control" required>
                        <span asp-validation-for="EmployeeForm.Birthday" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-3">
                        <label asp-for="EmployeeForm.Gender" class="form-label fw-bold">
                            Giới tính <span class="text-danger">*</span>
                        </label>
                        <select asp-for="EmployeeForm.Gender" class="form-select" required>
                            <option value="" disabled selected>-- Chọn giới tính --</option>
                            <option value="true">Nam</option>
                            <option value="false">Nữ</option>
                        </select>
                        <span asp-validation-for="EmployeeForm.Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-3">
                        <label asp-for="EmployeeForm.Identity" class="form-label fw-bold">
                            Số CCCD <span class="text-danger">*</span>
                        </label>
                        <input asp-for="EmployeeForm.Identity" class="form-control" maxlength="12" required>
                        <span asp-validation-for="EmployeeForm.Identity" class="text-danger"></span>
                    </div>
                </div>
                <div class="address-section">
                    <h6 class="mb-3">Địa chỉ thường trú <span class="text-danger">*</span></h6>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label asp-for="EmployeeForm.PermanentProvince" class="form-label fw-bold">
                                Tỉnh/Thành phố <span class="text-danger">*</span>
                            </label>
                            <select
                                asp-for="EmployeeForm.PermanentProvince"
                                asp-items="@(new SelectList(
                                               Model.Addresses
                                                   .Where(m => m.Level == 0 && m.Active == true)
                                                   .OrderBy(m => m.Id)
                                                   .ToList(),
                                               "Id",
                                               "Name"))"
                                class="form-select">
                                <option value="" disabled selected>-- Chọn --</option>
                            </select>
                            <span asp-validation-for="EmployeeForm.PermanentProvince" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="thuong_tru_cu" class="form-label fw-bold">Tra cứu danh mục mới</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="thuong_tru_cu">
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#modalDonViHanhChinh">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="EmployeeForm.PermanentWard" class="form-label fw-bold">
                                Phường/Xã <span class="text-danger">*</span>
                            </label>
                            <select
                                asp-for="EmployeeForm.PermanentWard"
                                asp-items="@(new SelectList(
                                               Model.Addresses
                                                   .Where(m => m.Level == 1 && m.Active == true)
                                                   .OrderBy(m => m.Id)
                                                   .ToList(),
                                               "Id",
                                               "Name"))"
                                class="form-select">
                                <option value="" disabled selected>-- Chọn --</option>
                            </select>
                            <span asp-validation-for="EmployeeForm.PermanentWard" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="EmployeeForm.PermanentAddress" class="form-label fw-bold">
                                Địa chỉ chi tiết <span class="text-danger">*</span>
                            </label>
                            <input asp-for="EmployeeForm.PermanentAddress" class="form-control" maxlength="255" required>
                            <span asp-validation-for="EmployeeForm.PermanentAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="address-section">
                    <div class="mb-3">
                        <h6 class="mb-0">Nơi ở hiện tại</h6>
                        <small class="text-muted">(Chỉ thu thập nếu khác nơi đăng ký thường trú)</small>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label asp-for="EmployeeForm.TemporaryResidenceProvince" class="form-label fw-bold">
                                Tỉnh/Thành phố
                            </label>
                            <select
                                asp-for="EmployeeForm.TemporaryResidenceProvince"
                                asp-items="@(new SelectList(
                                               Model.Addresses
                                                   .Where(m => m.Level == 0 && m.Active == true)
                                                   .OrderBy(m => m.Id)
                                                   .ToList(),
                                               "Id",
                                               "Name"))"
                                class="form-select">
                                <option value="" disabled selected>-- Chọn --</option>
                            </select>
                            <span asp-validation-for="EmployeeForm.TemporaryResidenceProvince" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="tam_tru_cu" class="form-label fw-bold">Tra cứu danh mục mới</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="tam_tru_cu">
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#modalDonViHanhChinh">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="EmployeeForm.TemporaryResidenceWard" class="form-label fw-bold">
                                Phường/Xã
                            </label>
                            <select
                                asp-for="EmployeeForm.TemporaryResidenceWard"
                                asp-items="@(new SelectList(
                                               Model.Addresses
                                                   .Where(m => m.Level == 1 && m.Active == true)
                                                   .OrderBy(m => m.Id)
                                                   .ToList(),
                                               "Id",
                                               "Name"))"
                                class="form-select">
                                <option value="" disabled selected>-- Chọn --</option>
                            </select>
                            <span asp-validation-for="EmployeeForm.TemporaryResidenceWard" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="EmployeeForm.TemporaryResidenceAddress" class="form-label fw-bold">Địa chỉ chi tiết</label>
                            <input asp-for="EmployeeForm.TemporaryResidenceAddress" class="form-control" maxlength="255">
                        </div>
                    </div>
                </div>
            </section>

            <section class="form-section">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">Đối tượng ưu tiên (nếu có)</h5>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="PriorityKinds" value="1" id="khuyet_tat">
                            <label class="form-check-label" for="khuyet_tat">Người khuyết tật</label>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="PriorityKinds" value="2" id="ho_ngheo">
                            <label class="form-check-label" for="ho_ngheo">Thuộc hộ nghèo, cận nghèo</label>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="PriorityKinds" value="3" id="dan_toc">
                            <label class="form-check-label" for="dan_toc">Dân tộc thiểu số</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3" id="dan_toc_ten" style="display: none;">
                    <label asp-for="PriorityForm.PeopleId" class="form-label fw-bold">Tên dân tộc</label>
                    <select
                        asp-for="PriorityForm.PeopleId"
                        asp-items="@(new SelectList(Model.People, "Id", "Name"))"
                        class="form-select"
                        id="ten_dan_toc">
                        <option value="" disabled selected>-- Chọn --</option>
                    </select>
                    <span asp-validation-for="PriorityForm.PeopleId" class="text-danger"></span>
                </div>
            </section>

            <section class="form-section">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">Trình độ giáo dục</h5>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <label asp-for="GeneralEducationLevelsForm.EducationLevelId" class="form-label fw-bold">
                            Trình độ phổ thông <span class="text-danger">*</span>
                        </label>
                        <select
                            asp-for="GeneralEducationLevelsForm.EducationLevelId"
                            asp-items="@(new SelectList(Model.GeneralEducationLevels, "Id", "Name"))"
                            class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                        </select>
                        <span asp-validation-for="GeneralEducationLevelsForm.EducationLevelId" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label asp-for="GeneralEducationLevelsForm.ProfessionalQualificationId" class="form-label fw-bold">
                            Trình độ chuyên môn <span class="text-danger">*</span>
                        </label>
                        <select
                            asp-for="GeneralEducationLevelsForm.ProfessionalQualificationId"
                            asp-items="@(new SelectList(Model.ProfessionalQualifications, "Id", "Name"))"
                            class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                        </select>
                        <span asp-validation-for="GeneralEducationLevelsForm.ProfessionalQualificationId" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label asp-for="GeneralEducationLevelsForm.MajorId" class="form-label fw-bold">Chuyên ngành đào tạo</label>
                        <select asp-for="GeneralEducationLevelsForm.MajorId" class="form-select" id="chuyen_nganh">
                            <option value="">-- Chọn (nếu có) --</option>
                            @foreach (var cap2 in Model.Majors
                                              .Where(m => m.Level == 2)
                                              .OrderBy(m => m.Code)
                                              .ToList())
                            {
                                var cap3List = Model.Majors
                                    .Where(m => m.Level == 3 && m.Code!.StartsWith(cap2.Code!.Trim()))
                                    .OrderBy(m => m.Code)
                                    .ToList();

                                if (!cap3List.Any())
                                {
                                    continue;
                                }

                                <optgroup label="@cap2.Name">
                                    @foreach (var cap3 in cap3List)
                                    {
                                        <option value="@cap3.Id">@cap3.Name</option>
                                    }
                                </optgroup>
                            }
                        </select>
                        <span asp-validation-for="GeneralEducationLevelsForm.MajorId" class="text-danger"></span>
                    </div>
                </div>
            </section>

            <section class="form-section">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">
                    Tình trạng tham gia hoạt động kinh tế <span class="text-danger">*</span>
                </h5>
                <div class="mb-3">
                    <label asp-for="EmployeeForm.EconomyStatus" class="form-label fw-bold">Tình trạng</label>
                    <select
                        asp-for="EmployeeForm.EconomyStatus"
                        asp-items="@(new SelectList(Model.EconomyStatuses, "Id", "Name"))"
                        class="form-select"
                        id="tinh_trang_viec_lam">
                        <option value="" disabled selected>-- Chọn --</option>
                    </select>
                    <span asp-validation-for="EmployeeForm.EconomyStatus" class="text-danger"></span>
                </div>
                <div id="employment-details" style="display: none;"></div>
            </section>

            <section class="form-section" id="employed-section" style="display: none;">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">Người có việc làm</h5>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="HasJobForm.JobPositionId" class="form-label fw-bold">
                            Vị thế việc làm <span class="text-danger">*</span>
                        </label>
                        <select
                            asp-for="HasJobForm.JobPositionId"
                            asp-items="@(new SelectList(Model.JobPositions, "Id", "Name"))"
                            class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                        </select>
                        <span asp-validation-for="HasJobForm.JobPositionId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="HasJobForm.JobId" class="form-label fw-bold">
                            Công việc cụ thể <span class="text-danger">*</span>
                        </label>
                        <select asp-for="HasJobForm.JobId" class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                            @foreach (var cap2 in Model.Jobs
                                          .Where(m => m.Level == 2)
                                          .OrderBy(m => m.Code)
                                          .ToList())
                            {
                                var cap3List = Model.Jobs
                                    .Where(m => m.Level == 3 && m.Code!.StartsWith(cap2.Code!.Trim()))
                                    .OrderBy(m => m.Code)
                                    .ToList();

                                if (!cap3List.Any())
                                {
                                    continue;
                                }

                                <optgroup label="@cap2.Name">
                                    @foreach (var cap3 in cap3List)
                                    {
                                        <option value="@cap3.Id">@cap3.Name</option>
                                    }
                                </optgroup>
                            }
                        </select>
                        <span asp-validation-for="HasJobForm.JobId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="HasJobForm.AddressProvince" class="form-label fw-bold">
                            Tỉnh/Thành phố nơi làm việc <span class="text-danger">*</span>
                        </label>
                        <select
                            asp-for="HasJobForm.AddressProvince"
                            asp-items="@(new SelectList(
                                           Model.Addresses
                                               .Where(m => m.Level == 0 && m.Active == true)
                                               .OrderBy(m => m.Id)
                                               .ToList(),
                                           "Id",
                                           "Name"))"
                            class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                        </select>
                        <span asp-validation-for="HasJobForm.AddressProvince" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="HasJobForm.AddressWeird" class="form-label fw-bold">
                            Phường/Xã nơi làm việc <span class="text-danger">*</span>
                        </label>
                        <select
                            asp-for="HasJobForm.AddressWeird"
                            asp-items="@(new SelectList(
                                           Model.Addresses
                                               .Where(m => m.Level == 1 && m.Active == true)
                                               .OrderBy(m => m.Id)
                                               .ToList(),
                                           "Id",
                                           "Name"))"
                            class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                        </select>
                        <span asp-validation-for="HasJobForm.AddressWeird" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="HasJobForm.AddressInfo" class="form-label fw-bold">
                            Địa chỉ chi tiết nơi làm việc <span class="text-danger">*</span>
                        </label>
                        <input asp-for="HasJobForm.AddressInfo" class="form-control" maxlength="255" required>
                        <span asp-validation-for="HasJobForm.AddressInfo" class="text-danger"></span>
                    </div>
                </div>
            </section>

            <section class="form-section" id="unemployed-section" style="display: none;">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">Người thất nghiệp</h5>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="UnemployedForm.TimeId" class="form-label fw-bold">
                            Thời gian thất nghiệp <span class="text-danger">*</span>
                        </label>
                        <select
                            asp-for="UnemployedForm.TimeId"
                            asp-items="@(new SelectList(Model.UnemployedTimes, "Id", "Name"))"
                            class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                        </select>
                        <span asp-validation-for="UnemployedForm.TimeId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="UnemployedForm.Demand" class="form-label fw-bold">Nhu cầu việc làm <span
                                class="text-danger">*</span></label>
                        <input asp-for="UnemployedForm.Demand" class="form-control" required>
                        <span asp-validation-for="UnemployedForm.Demand" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 align-self-center mb-3">
                        <div class="form-check">
                            <input asp-for="UnemployedForm.Status" type="checkbox" class="form-check-input">
                            <label asp-for="UnemployedForm.Status" class="form-check-label">Đã từng làm việc</label>
                        </div>
                    </div>
                </div>
            </section>

            <section class="form-section" id="not-participating-section" style="display: none;">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">Không tham gia hoạt động kinh tế</h5>
                <div class="mb-3">
                    <label asp-for="EmployeeForm.UnemployedReason" class="form-label fw-bold">
                        Lý do không tham gia <span class="text-danger">*</span>
                    </label>
                    <select
                        asp-for="EmployeeForm.UnemployedReason"
                        asp-items="@(new SelectList(Model.UnemployedReasons, "Id", "Name"))"
                        class="form-select"
                        id="ly_do">
                        <option value="" disabled selected>-- Chọn --</option>
                    </select>
                    <span asp-validation-for="EmployeeForm.UnemployedReason" class="text-danger"></span>
                </div>
            </section>

            <section class="form-section" id="study-fields" style="display: none;">
                <h5 class="border-start border-primary border-5 ps-2 text-primary">Người đang đi học</h5>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <label asp-for="StudyingForm.EducationLevel" class="form-label fw-bold">
                            Trình độ đào tạo <span class="text-danger">*</span>
                        </label>
                        <select
                            asp-for="StudyingForm.EducationLevel"
                            asp-items="@(new SelectList(Model.EducationLevels, "Id", "Name"))"
                            class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                        </select>
                        <span asp-validation-for="StudyingForm.EducationLevel" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label asp-for="StudyingForm.MajorId" class="form-label fw-bold">
                            Chuyên ngành đào tạo <span class="text-danger">*</span>
                        </label>
                        <select asp-for="StudyingForm.MajorId" class="form-select">
                            <option value="" disabled selected>-- Chọn --</option>
                            @foreach (var cap2 in Model.Majors
                                              .Where(m => m.Level == 2)
                                              .OrderBy(m => m.Code)
                                              .ToList())
                            {
                                var cap3List = Model.Majors
                                    .Where(m => m.Level == 3 && m.Code!.StartsWith(cap2.Code!.Trim()))
                                    .OrderBy(m => m.Code)
                                    .ToList();

                                if (!cap3List.Any())
                                {
                                    continue;
                                }

                                <optgroup label="@cap2.Name">
                                    @foreach (var cap3 in cap3List)
                                    {
                                        <option value="@cap3.Id">@cap3.Name</option>
                                    }
                                </optgroup>
                            }
                            <span asp-validation-for="StudyingForm.MajorId" class="text-danger"></span>
                        </select>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label asp-for="StudyingForm.GraduateTime" class="form-label fw-bold">
                            Thời gian dự kiến tốt nghiệp <span  class="text-danger">*</span>
                        </label>
                        <input asp-for="StudyingForm.GraduateTime" type="date" class="form-control" id="ngay_tot_nghiep" required>
                        <span asp-validation-for="StudyingForm.GraduateTime" class="text-danger"></span>
                    </div>
                </div>
            </section>
        </div>
        <div class="card-footer">
            <div class="d-flex align-items-center justify-content-between">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</form>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 text-primary fw-bold">Thông tin người thân</h6>
    </div>
    <div class="card-body">
        <div class="form-section shadow-sm">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="text-primary">
                    <th>#</th>
                    <th>Họ và tên</th>
                    <th>Quan hệ</th>
                    <th>Ngày sinh</th>
                    <th>CCCD</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody id="familyTable"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDonViHanhChinh" tabindex="-1" aria-labelledby="modalDonViHanhChinhLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0 text-primary" id="modalDonViHanhChinhLabel">
                    <b>Kết quả tra cứu danh mục đơn vị hành chính mới</b>
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <div id="donViHanhChinhResult">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr class="text-primary">
                            <th class="text-center">#</th>
                            <th>Tên đơn vị mới</th>
                            <th>Mã đơn vị</th>
                            <th>Loại đơn vị</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Phường Minh Khai</td>
                            <td>12345</td>
                            <td>Phường</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Phường Trần Hưng Đạo</td>
                            <td>67890</td>
                            <td>Phường</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial");
    }
    <script src="~/js/employees/update.js"></script>
}
